
.alert.alert-primary
{
	margin-right: auto;
	margin-left: auto;
	width: 30%;
}

a
{
	text-decoration: none;
	color: black;
}

.input-group-text
{
	height: 110%;
	text-align: center;
}

.hello_label
{
	text-align: center;
}

.wd
{
	width: 6rem;
}